.photo2 {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid #ddd;
}

.paragraph {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 10px;
}